---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "CuLoo's Blogs";
---

<BaseLayout pageTitle={pageTitle}>
	<p>这里会记录一些学习的阶段总结和回顾，也许也会有些随笔。</p>

	<ul>
		<li>
			<a href="/posts/Astro Beginner/">作为Astro初学者的第一篇博客文章</a>
		</li>
	</ul>
</BaseLayout>
