---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = Object.values(
	import.meta.glob("./posts/*.md", { eager: true }),
);

const pageTitle = "CuLoo's Blogs";
---

<BaseLayout pageTitle={pageTitle}>
	<p>这里会记录一些学习的阶段总结和回顾，也许也会有些随笔。</p>

	<ul>
		{
			allPosts.map((post: any) => (
				<BlogPost url={post.url} title={post.frontmatter.title} />
			))
		}
	</ul>
</BaseLayout>
