---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>CuLoo's Homepage</title>
  </head>
  <body>
    <h1>CuLoo's Homepage</h1>
    <p>使用Astro构建的最小可用版本。</p>
  </body>
</html>
