---
import BaseLayout from "../layouts/BaseLayout.astro";

import Greeting from "../components/Greeting";
import CuLooMascot from "../components/CuLooMascot/CuLooMascot.astro";

const pageTitle = "CuLoo's Homepage";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Do whatever CuLoo wants to do!</h2>
	<p>学习Astro入门教程构建的版本。</p>

	<Greeting
		client:load
		messages={[
			"Hej",
			"Hallo",
			"Hola",
			"Habari",
			"Hi",
			"Hello",
			"Howdy",
			"Hey there",
		]}
	/>
	<CuLooMascot
		class="mascot-icon"
		title="culoo mascot"
		width="320"
		height="320"
	/>
</BaseLayout>
