---
import Social from "./Social.astro";
---

<style>
	footer {
		display: flex;
		gap: 1rem;
		margin-top: 2rem;
	}
</style>

<footer>
	<p>
		欢迎到 <Social platform="GitHub" username="Viruatios" /> 来找我玩！
	</p>
</footer>
