---
import Navigation from "./HeaderNavigation.astro";
import Menu from "./Menu.astro";
---

<header>
	<nav>
		<Menu />
		<Navigation />
	</nav>

	<script>
		const menu = document.querySelector(".menu");

		menu?.addEventListener("click", () => {
			const isExpanded = menu.getAttribute("aria-expanded") === "true";
			menu.setAttribute("aria-expanded", `${!isExpanded}`);
		});
	</script>
</header>
