---
const { platform, username } = Astro.props;
---

{
	platform === "GitHub" && (
		<a href={`https://github.com/${username}`}>
			<img
				id="github-icon"
				src="/GitHub_Invertocat_Black.svg"
				alt="GitHub"
				width="24"
				height="24"
			/>
		</a>
	)
}

<style>
	a {
		display: inline-block;
		padding: 0;
	}
</style>
